.container-fluid{
  padding: 0;
}

.ward {
  margin: 5px;
  align-self: center;
}

.button-row {
  padding: auto;
}

.card {
  font-size: small;
  margin-top: 5;
  padding-top: 0;
}

.card-footer {
  margin-top: 0;
}

.card-body {
  padding-bottom: 0;
}

#info {
  padding-left: 10px;
}

#blistgroup {
  margin-top: 30px;
  margin-bottom: 0;
}