.card-img-top {
    width: auto;
    height: 250px;
    object-fit: cover;
}

.column {
    margin-bottom: 2rem;
}

.title {
    text-align: center;
}

.titlecase {
    text-transform: capitalize;
}

table {
    margin-top: 15px;
}